:root {
  --Bg: #000;
  --text: #fff;
  --primary: #007bff;
  --primary-hover: #0056b3;
  --accent: #c4c1e0;
}

/* General styles for header and search bar */
header {
  align-items: center;
  background: var(--Bg);
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow search bar to grow */
}

.search-bar {
  width: 250px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.voice-search-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.voice-search-btn:focus {
  outline: none;
}

.voice-search-btn:hover {
  background-color: var(--primary-hover);
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: none !important;
}
::-webkit-scrollbar-thumb {
  background: #68707a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #68707a;
}

/* Styles for navigation links */
nav {
  align-items: center;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.desktop-nav li {
  padding: 1rem;
}

.desktop-nav a {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.desktop-nav a::before {
  content: "";
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 2px;
  width: 0;
  transition: 0.3s ease-in-out;
}

.desktop-nav a:hover::before {
  width: 90%;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
}

.project-title:hover {
  text-decoration: none;
}

/* Mobile Menu Icon Styles */
.mobile-menu-icon {
  cursor: pointer;
  display: none;
}

.mobile-menu-icon div {
  background: var(--text);
  border-radius: 0.5rem;
  height: 3px;
  transition: transform 0.3s ease;
  width: 2rem;
}

.active .firstbar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.active .secondbar:nth-child(2) {
  opacity: 0;
}

.active .lastbar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* Media Query for small screens */
@media screen and (max-width: 768px) {
  header {
    padding: 0.5rem;
  }

  .search-container {
    width: 70%;
    margin-top: 0.5rem;
  }

  .search-bar {
    width: 100%; /* Full-width search bar for mobile */
  }

  .voice-search-btn {
    width: 10%;
    padding: 3px;
    margin-top: 0.5rem;
  }

  nav {
    box-sizing: border-box;
    flex-direction: column;
  }

  .navtop {
    position: relative;
    width: 100%;
    z-index: 1000;
  }

  /* Mobile Menu Icon */
  .mobile-menu-icon {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .desktop-nav {
    position: fixed;
    top: 7%;
    right: -100%; /* Initially off-screen */
    width: 50%;
    height: 100%;
    background-color: var(--Bg);
    transition: right 0.3s ease; /* Slide-in animation */
    z-index: 3;
    flex-direction: column;
    padding: 10% 5%;
  }

  .desktop-nav.show {
    right: 0; /* Slide in from the right */
  }

  .desktop-nav a {
    margin-bottom: 20%; /* Add margin between links */
  }
}
